@import 'https://fonts.googleapis.com/css?family=Roboto:400,500';

body {
  color: #b9b9b9;
  font-family: 'Roboto', sans-serif;
}

/*mobile-first*/
.container-fluid {
  padding-bottom: 120px;
  position: relative;
}
.row {
  padding: 5%;
}

h1 {
  text-transform: uppercase;
  font-size: 150%;
  font-weight: 500;
}
h2 {
  font-size: 120%;
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 400;
}
h1, h2 {
  color: #a4d7d5;
}

#landing-page {
  background-image: url("../img/hero.png");
  background-size: cover;
  background-position:top;
  min-height: 50vh;
  text-align: center;
}

#logo {
  position: absolute;
  left: 5%;
  width: 10%;
  max-width: 53px;
}

#hero-text {
  position: relative;
  top: 25vh;
  transform: translateY(-50%);
}
#hero-text h1,
#hero-text h2 {
  color: white;
}

#menu {
  position: relative;
  width: 100vw;
  left: -15px;
}
.navbar-default {
  background-color: #a4d7d5;
  color: white;
  border: none;
}

/* some bootstrap overrides */
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color:#a4d7d5;
  background-color: white;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: white;
  background-color: #a4d7d5;
}
.navbar-header {
  text-align: center;
}
.navbar-toggle {
  float: none;
  margin-left: 15px;
}

#sliding-images {
    list-style: none;
    margin: 0;
    padding: 0;
}
#sliding-images li img {
  padding: 0;
}
#prev-next {
  text-align: center;
  padding: 10px;
}
.slick-arrow {
  color: white;
  background-color: #a4d7d5;
}
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover,
.btn,
.btn:focus,
.btn:active,
.btn:hover {
  color: white;
  background-color: #a4d7d5;
  border: none;
  outline: none;
  border-radius: 0;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #a4d7d5;
  color: white;
  text-align: center;
}
#footer button,
#footer button:focus {
  font-size: 20px;
  margin: 20px;
  border-radius: 100%;
  border: none;
  outline: none;
  background-color: white;
  color: #a4d7d5;
  height: 50px;
  width: 50px;
}
#footer-logo {
  margin: 10px;
  width: 30px;
}

/*tablets and desktops*/
@media screen and (min-width: 768px) {

  #landing-page {
    min-height: 60vw;
    max-height: 100vh;
  }
  #hero-text {
    top: 30vw;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    text-align: center;
  }
  .navbar-nav,
  .navbar-nav>li {
    float: none;
  }
  .nav>li {
    display: inline-block;
  }

}
